<div class="jumbotron text-center">
  <h1>Daily Pollen Levels</h1>

  <div class="form-horizontal form-group form-group-lg row">
    <div>
      <button class="btn btn-primary btn-lg" {{action "getDailyPollen"}}>Get Daily Pollen</button>
    </div>
  </div>

  {{#if hasPollenData}}
    <div class="alert alert-sucess">
      <h3> Today's Date: {{pollenData.date}}</h3>
    </div>

    <div class="alert alert-sucess">
      <h4>Generic Values</h4>
      <p>Grass Value: {{pollen-value pollenData.grassValue}}</p>
      <p>Tree Value: {{pollen-value pollenData.treeValue}}</p>
    </div>

    <div class="alert alert-sucess">
      <h4>Plant Values</h4>
      <p>Graminales Value: {{pollen-value pollenData.plantGraminalesValue}}</p>
      <p>Juniper Value: {{pollen-value pollenData.plantJuniperValue}}</p>
      <p>Elm Value: {{pollen-value pollenData.plantElmValue}}</p>
      <p>Oak Value: {{pollen-value pollenData.plantOakValue}}</p>
      <p>Pine Value: {{pollen-value pollenData.plantPineValue}}</p>
      <p>Cottonwood Value: {{pollen-value pollenData.plantCottonWoodValue}}</p>
      <p>Birch Value: {{pollen-value pollenData.plantBirchValue}}</p>
      <p>Ash Value: {{pollen-value pollenData.plantAshValue}}</p>
      <p>Maple Value: {{pollen-value pollenData.plantMapleValue}}</p>
    </div>
  {{/if}}

</div>